.accordion-faq {
  max-width: 640px;
  margin: 0 auto;
}

.accordion-faq details {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: var(--background-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion-faq details + details {
  margin-top: 12px;
}

.accordion-faq details p {
  margin-bottom: 0.8em;
}

.accordion-faq details summary {
  position: relative;
  padding: 16px 20px;
  padding-right: 50px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  font-weight: 500;
}

.accordion-faq details[open] summary {
  background-color: transparent;
}

.accordion-faq details summary:focus,
.accordion-faq details summary:hover {
  background-color: var(--light-color);
  border-radius: 8px;
}

.accordion-faq details summary::-webkit-details-marker {
  display: none;
}

.accordion-faq details summary::after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
  transition: transform 0.2s;
}

.accordion-faq details[open] summary::after {
  content: '\2212';
  transform: translateY(-50%);
}

.accordion-faq details .accordion-faq-item-body {
  padding: 0 20px 16px;
}

.accordion-faq details[open] .accordion-faq-item-body {
  background-color: var(--background-color);
}
